.venv/
data/**/*.csv
data/**/*.parquet
data/**/*.json
data/raw/
models/
backend/.env
.ipynb_checkpoints/
__pycache__/
.DS_Store

# ---- Mantener TODOS los artefactos de processed ----
!data/processed/
!data/processed/**
# Playwright
.pw-profile/
.pw-tm/
playwright-report/
# Temp
data/tmp/
